html,body {
  height: 100%;
}
#root {
  height: 100%;
}
.pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  &__item {
    width: 35px;
    height: 35px;
    margin-right: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid #DFDFDF;
    color: #9D9D9D;
    transition: all 0.3s linear;
    &:hover {
      text-decoration: none;
      color: #4DBE9B;
      border-color: #4DBE9B;
    }
  }
  &__current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid #4DBE9B;
    background-color: #4DBE9B;
    color: #fff;
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #373a3c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.users {
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  &__side {
    width: 330px;
    padding: 15px;
    background: rgba(51, 51, 51, 0.1);
    box-sizing: border-box;
  }
  &__content {
    padding-left: 20px;
    width: calc(100% - 350px);
  }
  &__head {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__sideTitle {
    display: block;
    text-align: left;
    font-weight: bold;
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.modalOverflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.form {
  position: relative;
  z-index: 1;
  background-color: #fff;
  max-width: 500px;
  width: 100%;  
  margin: 0 auto;
  padding: 20px;
  border-radius: .25rem;
}
.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  label {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
  }
}
input {
  padding: 8px;
  width: calc(100% - 180px);
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.table {
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 50px;
  th {
    border-bottom: 2px solid #eceeef;
    padding: 12px;
    width: 20%;
    button {
      color: #000;
      background-color: transparent;
      font-weight: bold;
      padding: 0;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.active {
        svg {
          fill: red
        }
      }
      &.up {
        svg {
          transform: scale(-1);
        }
      }
      svg {
        transition: all 0.3s linear;
        fill: #000;
      }
    }
  }
  tr {
    &.current {
      background-color: rgba(51, 51, 51, 0.1);
    }
  }
  td {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.btn {
  cursor: pointer;
  &:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    pointer-events: none;
  }
  &--primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }
  &--info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }
}
.selectedUser {
  text-align: left;
  max-width: 350px;
  background-color: #373a3c;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 20px;
  margin-bottom: 20px;

  background-color: #fff;
  color: #000;
  &__group {
    margin-bottom: 20px;
  }
  textarea {
    display: block;
    width: 100%;
    height: 190px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: 10px;
    box-sizing: border-box;
    resize: none;
    pointer-events: none;
  }
}
.intro {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  height: 200px;
  padding: 40px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-sizing: border-box;
  color: #000;
  text-align: left;
  &__title {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
  }
  &__btn {
    margin-right: 20px;
  }
}